extends base.pug

block content 
    form(method="POST")
        input(name="title",placeholder="Enter the title of the Video", required, type="text")
        input(value="Upload Video", type="submit")